/**
 VERRUKKULLUK MAIN.CSS
 */

:root {

    /* FONTS */
    --heading: "pretty_lilyregular";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --kahki: #fff0d6;

    --darker-orange: #eb8d1f;
    --lighter-orange: #fca01f;

    --darker-green: #6e8722;
    --lighter-green: #95b82d;

    --white: #FFF;
    --black: #000;

    --search-bar-color: var(--lighter-brown)

}



/** HEADING **/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading) !important;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 42px;
}

h3, h4, h5 {
    font-size: 32px;
}



/** HTML / BODY **/
html, body {
    font-family: "Helvetica Neue", Arial, SansSerif;
    font-size: 16px;
}


/* OWN CHANGES */

/* HEADER */
.header {
    width: 100%;
    aspect-ratio: 3;
    position: relative;
}

.header .background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
    background-image: url("");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: yellow;
}

.header .logo {
    display: inline-block;
    width: 40%;
    padding-left: 10px;
    padding-top: 10px;
    max-width: 400px;
}

.header .logo img {
    width: 100%;
}

.header .tools {
    display: inline-flex;
    float: right;
    padding-right: 1%;
    padding-top: 1%;
}

.header .tools .search {
    display: inline-flex;
    width: 100%;
}

.header .tools .search input {
    width: 100%;
    border: 3px solid var(--search-bar-color);
    border-left: none;
    padding: 5px;
    height: 36px;
    border-radius: 0px 10px 10px 0px;
    outline: none;
}

.header .tools .search button {
    width: 40px;
    height: 36px;
    border: 1px solid var(--search-bar-color);
    background: var(--search-bar-color);
    text-align: center;
    color: var(--white);
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
    font-size: 18px;
}

.header .menu-button {
    transition: all 0.4s ease;
    cursor: pointer;
    padding: 0px;
    margin-left: 5px;
}

.header .menu-button i {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 36px;
    color: var(--search-bar-color);
}

.header .menu {
    position: absolute;

    width: 100%;
    height: 30%;

    background-color: var(--white);
    border: 1px solid var(--black);
    transition: all 0.2s ease;
}

.menu-up {
    top: calc(-2 * 30%);
}

.menu-down {
    top: 0px;
}


/* AGENDA */
.agenda {
    background-color: var(--lighter-green);
    margin: 20px;
    padding: 10px;
}

.agenda .logo {
    position: relative;
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.agenda .logo img {
    width: 100%;
}

.agenda ul {
    margin: 0px;
    padding: 0px;
}

.agenda li {
    margin-left: 60px;
    margin-right: 30px;
}

.agenda li .agenda-text{
    display: block;
    margin-left: 20px;
}


/* LOGIN */
.login {
    background-color: red;
    text-align: center;
}

/* CONTENT */
.content {
    background-color: blue;
    text-align: center
}

.meal {
    text-align: left;
    background-color: var(--white);
    border: 1px solid var(--black)
}

.meal .image {
    width: 100%;
    height: 300px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.meal .info {
    width: 100%;
    padding: 5%;
    overflow: auto;
}

.meal .info h2 {
    display: inline-block;
    text-transform: capitalize;
}

.meal .info .rating {
    padding-top: 12px;
    float: right;
}

.meal .info .rating .star {
    color: var(--lighter-orange);
    display: inline-block;
    margin-left: -5px;
    cursor: pointer;
}

.meal .info .extra {
    padding-left: 10px;
    padding-right: 10px;
}

.meal .info .extra h3 {
    display: inline;
    color: var(--white);
    background-color: var(--lighter-red);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 1px;
    border-radius: 20px;
}

.meal .info .extra h3 a {
    text-decoration: none;
    color: inherit;
}

.meal .info .extra .people, .meal .info .extra .price, .meal .info .extra .calories {
    float: right;
    padding-top: 8px;
    padding-left: 12px;
}

.meal .info .extra i {
    margin-right: -2px;
    color: var(--lighter-red);
}

/* FOOTER */
.footer {
    display: inline-flex;
    width: 100%;
    background-color: purple;

}

.footer .logo {
    display: inline-block;
    width: 10%;
    min-width: 120px;
}

.footer .logo img {
    width: 100%;
}

.footer .contact {
    display: inline-block;
    width: 15%;
    min-width: 180px;
}

.footer .contact img {
    width: 100%;
}

.footer .contact ul {
    list-style: none;
    color: var(--white);
}
