{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}
{% endblock %}


{% block content %}
    
    <div class="row">
        {% for record in data %}
            <div class="col-12 col-lg-6">
                <div class="meal">
                    <img src="{{record.picture}}" style="height: 100px;">
                    <b> {{record.title}} </b>

                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
