{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}
<img src="assets/img/logo-v2.png"/>
{% endblock %}


{% block content %}
    
    {# <ul>
    {% for record in data %}
        <li>
            <img src="{{ record.foto }}" style="width: 100px; heigfht: 100px;">
            
            {{record.title}}
          
        </li>
    {% endfor %}
    <ul> #}

    {# <pre>
    {{ dump(data) }}
    </pre> #}

{% endblock %}
